<h2 mat-dialog-title>
    <span id="spaTitle">{{data.title}}</span>

    <button id="closebtn" type="button" class="close closebtn" aria-label="Close" (click)="close()">
        <span aria-hidden="true">&times;</span>
    </button>
</h2>

<mat-dialog-content>
    <form id="loginForm" name="loginForm" [formGroup]="loginForm" ngNativeValidate (ngSubmit)="onSubmit()">
        <div class="login-container">            
            <mat-form-field class="full-width-input">
                <input id="Username" matInput placeholder="User Name" formControlName="Username">
                <mat-error *ngIf="isFieldInvalid('Username')">
                    Please inform your user name
                </mat-error>
            </mat-form-field>
            <mat-form-field class="full-width-input">
                    <input id="password" matInput type="password" placeholder="Password" class="fullWidth" [type]="hide ? 'password' : 'text'" formControlName="Password">
                <mat-icon matSuffix (click)="hide = !hide" class="cursorPointer">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
                <mat-error *ngIf="isFieldInvalid('Username')">
                    Please inform your password
                </mat-error>
            </mat-form-field>                        
        </div>
    </form>
</mat-dialog-content>

<mat-dialog-actions>
    <div class="fullWidth center">
        <button id="btnSubmit" type="submit" class="loginButton" form="loginForm" mat-raised-button [disabled]="!loginForm.valid">Login</button>
    </div>
</mat-dialog-actions>
